---
layout: default
title: Blog
permalink: /blog
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">A blog for civic things</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Thoughts on open governance in and around Solano County, California.
      </p>
      {% for post in site.posts %}
      {% include post.html post=post %}
      {% endfor %}
    </div>
  </div>
</div>
