---
layout: default
title: A single blog post
---

<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">Introducing</p>
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      {{ page.title }}
    </h1>

    <p>
      {{ page.date | date_to_string }}
      <br>
      by
      {{ page.author.name }},
      {{ page.author.title }}</p>

    <p class="mt-6 text-xl leading-8">
      {{ content }}
    </p>
  </div>
</div>
